.input {
  margin-left: 32vw;
  margin-right: 36vw;
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.input .userinput .header {
  text-align: center;
}

.input .registerlink {
  padding-bottom: 15px;
  font-size: 1.3vw;
}

.input .enter {
  background-color: #646cff;
  border-radius: 30px;
  width: 40%;
  height: 2%;
  margin: auto;
  font-size: 1.8vw;
}

.input .userbox {
  width: 30vw;
  height: 3.5vw;
  font-size: 1.5vw;
  border-radius: 30px;
  background-color: #bdc1ff;
  color: #21234b;
  padding-left: 20px;
  
}

.input .passbox {
  width: 30vw;
  height: 3.5vw;
  font-size: 1.5vw;
  border-radius: 30px;
  background-color: #bdc1ff;
  color: #21234b;
  padding-left: 20px;
  
}

.input .userinput .username{
  padding-bottom: 20px;
  
}

.input .userinput .password{
  padding-bottom: 15px;
  
}
