.course-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    list-style: none;
    justify-content: center;
}
  
.course-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #FFA366;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    height: 30px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.course-item:hover {
    background-color: #FF7F50;
}