.notes-list {
    padding: 0;
}
  
.notes-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 10px;
    background-color: rgba(255, 204, 0, 0.8);
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.notes-item:hover {
    background-color: rgba(198, 140, 4, 0.8);;
}

.last-modified {
    color: gray;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1e1e1e;
    --note-background-color: #2e2e2e;
    --text-color: #fff;
    --note-border-color: #444;
  }
}